.footer-container {
    display: flex;
    padding: 2%;
  }
  .footer .abs {
    position: absolute;
    z-index: 2;
    top: -16px;
    left: -30px;
  }
  .footer .container-left {
    position: relative;
    top: 80px;
    left: 20px;
    z-index: -1;
  }
  .footer .container-left .rec {
    position: relative;
    background-color: #fff;
    top: 5;
    left: 10px;
    z-index: 1;
  }
  .footer .container-right {
    position: relative;
    background-color: #f7f7f7;
  }
  .footer-container .right-content{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 100px ; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .footer .container-right .right-text {
    margin-bottom: 100px;
    margin-top: 10px;
   font-weight: bold;
    font-size: 62px;
    text-align: center;
     color: rgb(67, 66, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 2px 3px rgb(103, 100, 99);
   
  }
  .right-btn{
    cursor: pointer;
  }
  .right-btn div {
    flex: 10%;
    border-radius: 30px;
    background-color: rgb(64, 63, 63);
    border: 1px solid #fff;
    color: yellow;
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 300px;
    height: 60px;
    text-transform: uppercase;
    position: relative;
  }
  .right-btn div span {
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: #ffdd00;
    border-radius: 100rem;
    padding: 20px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: rgba(121, 120, 120, 0.607);
    transition: 0.2s ease-out;
  }
  .right-btn:hover span {
    transform: translate(222px,-50%);
    
  }
  .footer .right img {
    z-index: 99;
    left: 0;
  }
  .footer-text {
    color: rgb(54, 53, 53);
    display: flex;
    font-weight: bold;
    margin: 30px auto;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .footer-text span {
    color: #ffdd00;
  }
  
  @media screen and (max-width: 420px){
  .footer .container-left {
    position: relative;
    top: -1px;
    left: -10px;
}
  }
  
  @media screen and (min-width: 767.98px) and (max-width: 991.98px) {
  
    .footer-container {
      flex-direction: column;
      padding: 80px; 
    }
    
    .footer .container-left {
        position: relative;
        top: -1px;
        left: -13px;
        z-index: -1;
    }
    .footer .container-right .right-text{
      font-size: 20px !important;
    }
    
  }
  @media screen and (max-width: 767.98px) {
    .footer .container-right .right-text {  
      margin-top: 30px;
      font-size: 20px;
   }
   .right-btn div {
     font-size: 12px;
     width: 220px;
     height: 40px;
     
   }
   .right-btn div span {
     padding: 10px;
   }
   .footer-container {
    flex-direction: column;
    padding: 80px; 

  }
   
  }


  @media (max-width: 575.98px) { }

  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {  }
  
   /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) {  }
  
   /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) {  }
  
   /* X-Large devices (large desktops, less than 1400px) */
  @media (max-width: 1399.98px) {  }